# Ignore Android build outputs and app binaries
android/app/build/
*.apk

# Ignore iOS build outputs and app bundles
ios/build/
*.app

# Ignore node modules and Pods
node_modules/
ios/Pods/

# macOS
.DS_Store
